[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
requests = "*"
uvicorn = {extras = ["standard"], version = "*"}
ipykernel = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
pandas = "*"
scikit-learn = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
lightgbm = "*"
joblib = "1.4.0"
black = "*"
pylint = "*"
pytest-cov = "*"
pytest = "*"
flake8 = "*"
sqlalchemy-utils = "*"

[dev-packages]

[requires]
python_version = "3.11"
