[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
requests = "*"
uvicorn = {extras = ["standard"], version = "*"}
ipykernel = "*"
pandas = "*"
scikit-learn = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
lightgbm = "*"
joblib = "1.4.0"
black = "*"

[dev-packages]

[requires]
python_version = "3.11"
