name: CI

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Install uv
      run: |
        pip install uv

    - name: Install dependencies
      run: |
        uv venv
        . ./.venv/bin/activate
        uv pip install .[dev]

    - name: Run verify
      run: |
        . ./.venv/bin/activate
        make ci-verify
